﻿@model ToDo

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2>AddTask</h2>
            <form method="post" asp-action="AddTask">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter task name">
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" placeholder="Enter task description">
                </div>
                <a asp-action="Index" class="btn">Back</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
