﻿@model List<ToDo>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2>ToDo List</h2>
            <div class="row mx-0">
                @foreach (var item in Model)
                {
                    <partial name="ToDoCard" model="@item"/>
                }
            </div>
            <a asp-action="AddTask" class="btn btn-primary">Add new Task</a>
        </div>
    </div>
</div>

