﻿@model ToDo

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">@Model.Name</h1>
        <p class="lead">@Model.IsDone</p>
        <hr class="my-4">
        <p>@Model.Description</p>
        <a class="btn btn-primary btn-lg" asp-action="Index">Back</a>
    </div>
</div>
