<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">{{title}}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" routerLink="gallery">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="counter">Counter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="calculator">Calculator</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="todolist">ToDoList</a>
				</li>
			</ul>
		</div>
	</nav>
</header>

<div class="container my-4">
	<router-outlet></router-outlet>
</div>

<footer class="container">
	&copy; Gleb Skripnikov
</footer>

<!-- 
	<app-calculator></app-calculator>
	<app-counter></app-counter>
	<app-gallery></app-gallery> 
-->