body {
    margin: 0;
    background-color: lightgray;
    background-image: url(images/img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}

.container {
    /* min-width: 1000px;
    max-width: 1500px; */
    width: 1000px;
    margin: 20px auto;
    background-color: white;
}

.container div {
    font-size: 30px;
    color: white;
    font-family: Segoe UI
}

.header {
    height: 200px;
    background-color: red;
}

.menu {
    height: 50px;
    background-color: cyan;
}

.left, .right {
    display: inline-block;
    width: 20%;
    background-color: blue;
    height: 500px;
    margin-right: -4px;
    vertical-align: top;
}

.center {
    display: inline-block;
    width: 60%;
    background-color: blueviolet;
    height: 500px;
    margin-right: -4px;
}

.footer {
    background-color: tomato;
    height: 100px;
}

.center div {
    display: inline-block;
    width: 50%;
    margin-right: -8px;
    font-size: 15px;
    vertical-align: top;
}

.image img {
    width: 100%;
}