body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: 2000px;
}

nav {
    height: 50px;
    background: black;
    width: 100%;
}

nav > ul {
    color: white;
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
}

nav > ul > li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.submenu {
    background-color: green;
    width: 500px;
    height: 0px;
    position: absolute;
    top: 50px;
    left: 0px;
    /* display: none; */
    /* opacity: 0; */
    transition: 0.3s;
}

nav > ul > li:hover > .submenu {
    /* display: block; */
    /* opacity: 1; */
    height: 500px;
    transition: 0.3s;
}

.container {
    width: 100%;
    max-width: 1200px;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 20%;
    background: red;
    height: 400px;
}

main {
    width: 60%;
    background: blue;
    height: 400px;
}

@media (min-width: 0px) and (max-width: 767px)  {
    aside, main {
        width: 100%;
    }

    nav {
        height: auto;
    }

    nav > ul {
        height: auto;
        flex-direction: column;
        align-items: stretch;
    }

    nav > ul > li {
        padding: 10px 10px;
    }

    .submenu {
        top: 46px;
        z-index: 2;
        width: 100%;
    }
}

/* body {
    background: red;
}

@media (min-width: 500px) and (max-width: 1000px)  {
    body {
        background: blue;
    }
}

@media (max-width: 500px) {
    body {
        background: green;
    }
} */

/* 0 - 600 : mobile */
/* 600 - 768 : tablet */
/* 768 - ... : desktop */