<p>Result: {{ x + y }}</p>
<p>X: {{x}}</p>
<button (click)="changeX(1)">1</button>
<button (click)="changeX(2)">2</button>
<button (click)="changeX(3)">3</button>
<p>Y: {{y}}</p>
<button (click)="changeY(1)">1</button>
<button (click)="changeY(2)">2</button>
<button (click)="changeY(3)">3</button>