.container {
    width: 650px;
    height: 450px;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    /* justify-items: flex-end; */
}

.box {
    background-color: red;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    width: 800px;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
    flex-grow: 1;
}