/* body {
    width: 500px;
    height: 500px;
} */

/* body {
    font-size: 20px;
} */

#box {
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-style: italic;
    /* text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: double; */
    text-decoration: underline green double;
    text-transform: capitalize;
    letter-spacing: 10px;
    word-spacing: 20px;
    text-align: left;
    /* display: inline-block; */
    margin: 50px 20px;
    padding: 50px;
    /* border: 5px cyan solid; */
    /* box-sizing: border-box;
    border-width: 5px;
    border-color: cyan;
    border-style: solid;
    border-top: 10px dotted magenta;
    border-radius: 20px;  */

    outline: 10px dotted magenta; 
    border: 5px green double;
}

#box p {
    margin: 0;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

/* #box span {
    font-size: 2rem;
}

.box {
    width: 100px;
    height: 100px;
} */

/* .yellow1 {
    background-color: hsl(60, 100%, 50%)
}

.yellow2 {
    background-color: hsl(60, 100%, 40%)
}

.yellow3 {
    background-color: hsl(60, 100%, 30%)
} */