<h2>Calculator</h2>
<input type="number" [(ngModel)]="firstNumber">
<select [(ngModel)]="operation">
	<option value="+">+</option>
	<option value="-">-</option>
	<option value="*">*</option>
	<option value="/">/</option>
</select>
<input type="number" [(ngModel)]="secondNumber">
<span> = {{ result }} </span>