﻿@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewBag.User</h1>

<div class="container mt-4">
    <form asp-action="Login">
        <div asp-validation-summary="All" class="form-text text-danger"></div>
        <div class="form-group">
            <label asp-for="Login">Email address</label>
            <input type="email" asp-for="Login" class="form-control" placeholder="Enter email">
            <span asp-validation-for="Login" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Password">
            <span asp-validation-for="Password" class="form-text text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
