﻿@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="container mt-4">
    <form asp-action="Register" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="form-text text-danger"></div>
        <div class="form-group">
            <label asp-for="Login"></label>
            <input type="email" asp-for="Login" class="form-control" placeholder="Enter email">
            <span asp-validation-for="Login" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Password">
            <span asp-validation-for="Password" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm"></label>
            <input type="password" asp-for="PasswordConfirm" class="form-control" placeholder="Password confirmation">
            <span asp-validation-for="PasswordConfirm" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" placeholder="First Name">
            <span asp-validation-for="FirstName" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" placeholder="Last Name">
            <span asp-validation-for="LastName" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Picture">Profile picture</label>
            <br />
            <input type="file" id="Picture" name="picture" multiple>
        </div>
        <div class="form-group">
            <label for="Picture">Profile picture</label>
            <br />
            <input type="file" id="Picture" name="picture" multiple>
        </div>
        <div class="form-group">
            <label for="Picture">Profile picture</label>
            <br />
            <input type="file" id="Picture" name="picture" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

