$fg: red
$bg: white

=content-center 
    display: flex
    justify-content: center
    align-items: center


=border($color, $size, $radius: 0px)
    border: $size solid $color
    border-radius: $radius


=div-style($style) 
    @if $style == light
        background-color: white
        color: black
    @else
        background-color: black
        color: white

