@font-face {
  font-family: Harry;
  src: url("harry.TTF");
}

body {
  background-color: white;
  font-family: Harry;
  font-size: 50;
}

div {
  height: 100px;
  width: calc(50% + 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: black solid 3px;
  border-radius: 0px;
  background-color: black;
  color: white;
}

div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.yellow {
  width: 100px;
  height: 100px;
}

.yellow1 {
  background-color: #e6d300;
}

.yellow2 {
  background-color: #ccbb00;
}

.yellow3 {
  background-color: #b3a400;
}

.yellow4 {
  background-color: #998c00;
}

.yellow5 {
  background-color: #807500;
}

.yellow6 {
  background-color: #665e00;
}
/*# sourceMappingURL=style.css.map */