@import 'variables'
@font-face 
    font-family: Harry
    src: url('harry.TTF')

body
    background-color: $bg
    font-family: Harry
    font-size: 50

div
    height: 100px
    width: calc(50% + 100px)
    +content-center
    +border(3px, black)
    +div-style(dark)

    p
        font-family: 'Yanone Kaffeesatz', sans-serif;

$yellow: #ffea00

.yellow
    width: 100px
    height: 100px
    
@for $i from 1 through 6
  .yellow#{$i} 
      background-color: darken($yellow, $i * 5)

// .yellow1
//     background-color: $yellow

// .yellow2
//     background-color: darken($yellow, 10)

// .yellow3
//     background-color: darken($yellow, 20)

// .yellow4
//     background-color: darken($yellow, 30)