﻿
@{
    ViewData["Title"] = "Default";
}

<style>
    .profile-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
</style>

<div class="d-flex">
    <p class="text-primary">@ViewBag.UserName</p>
    <img src="~/images/profiles/@ViewBag.ProfileImage" class="img-fluid profile-image" alt="Profile Picture" />
</div>

