<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" />
    <script src="handlebars-v4.0.12.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <form id="search" onsubmit="searchWeather()" name="citySearch">
        <input id="city" list="cities" name="city" placeholder="Enter city name" onkeyup="keyDown()">
        <datalist id="cities">
            <option value="London">
            <option value="Baku">
            <option value="Paris">
            <option value="Moscow">
            <option value="Kiev">
        </datalist> 
        <button>Search</button>
    </form>
    <div id="result">
    </div>

    <script id="weather-template" type="text/x-handlebars-template">
        <div class="weather">
            <p>City: {{name}}</p>
            <p>Temp: {{main.temp}}</p>
            <p>Max: {{main.temp_max}}</p>
            <p>Min: {{main.temp_min}}</p>
            <button onclick="deleteWeather()">💀</button>
        </div>
    </script>
</body>
</html>