body {
    box-sizing: border-box;
    margin: 0px;
    font-family: Segoe UI;   
}

.container {
    width: 600px;
    height: 400px;
    background-color: gainsboro;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    /* grid-auto-columns: 50px; */
    /* grid-auto-rows: 50px; */
    /* grid-gap: 15px;
    grid-auto-flow: row; */
    /* align-items: center;
    justify-items: center; */
    /* align-content: space-between;
    justify-content: space-between; */
    grid-template-areas: 
        'red red red red'
        'green blue blue blue'
        'green yellow black black'
}

.box {
    background-color: red;
    color: white;
    border: 1px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50px;
    height: 50px; */
}

#red {
    background-color: red;
    grid-area: red;
}

#green {
    background-color: green;
    grid-area: green;
}

#blue {
    background-color: blue;
    grid-area: blue;
}

#yellow {
    background-color: yellow;
    grid-area: yellow;
}

#black {
    background-color: black;
    grid-area: black;
}