#div1 {
    background-color: red;
    color: white;
} 

.box {
    width: 200px;
    height: 200px;
    color: black;
}

div {
    font-size: 20px;
    color: blue; 
}
 
.green-div {
    background-color: green;
}

.green-div p {
    font-weight: bold;
}


/* elem < .class < #id < inline < !important */
