$enable-rounded: false;
$enable-shadows: true;

$theme-colors: (
  "primary": #00ff00,
  "danger": #ff4136
);

@import 'scss/bootstrap';
  
.slider {
    .card-img-overlay {
        top: auto;
    }
}

.box {
    background-color: red;
    height: 100px;
    border: 1px solid black;
}


.logo {
    height: 30px;
}