<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/jquery-ui-dist/jquery-ui.min.css">
    <link rel="stylesheet" href="style.css" />
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/handlebars/dist/handlebars.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <form id="search" name="citySearch">
        <input id="city" list="cities" name="city" placeholder="Enter city name">
        <datalist id="cities">
            <option value="London">
            <option value="Baku">
            <option value="Paris">
            <option value="Moscow">
            <option value="Kiev">
        </datalist> 
        <button class="btn btn-primary">Search</button>
    </form>
    <div id="result">
    </div>
    <div class="box">
        
    </div>

    <script id="weather-template" type="text/x-handlebars-template">
        <div class="weather">
            <p>City: {{name}}</p>
            <p>Temp: {{main.temp}}</p>
            <p>Max: {{main.temp_max}}</p>
            <p>Min: {{main.temp_min}}</p>
            <button>💀</button>
        </div>
    </script>
</body>
</html>