body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#search {
    widows: 100%;
    display: flex;
}

#search #city {
    width: 80%;
    font-size: 25px;
}

#search button {
    width: 20%;
    font-size: 25px;
}

.weather {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: whitesmoke;
    padding: 10px;
    position: relative;
    margin: 10px;
}

.weather p {
    margin: 5px;
}

.weather button {
    position: absolute;
    right: 15px;
    top: 15px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: magenta;
}