<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="handlebars-v4.0.12.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <form name="contactForm" onsubmit="addContact()">
        <label for="name">Name:</label>
        <input name="name" required id="name" type="text" value="Gleb">
        <br>
        <label for="surname">Surname:</label>
        <input name="surname" id="surname" type="text" value="Skripnikov">
        <br>
        <label for="phone">Phone:</label>
        <input name="phone" required id="phone" type="text" value="123456789">
        <br>
        <label for="email">Email:</label>
        <input name="email" id="email" type="email" value="skripnikov@itstep.org">
        <br>
        <button>Add</button>
    </form>

    <div id="contacts">

    </div>

    <script id="contact-template" type="text/x-handlebars-template">
        <div class="contact">
            <p>Name: {{name}}</p>
            <p>Surname: {{surname}}</p>
            <p>Phone: {{phone}}</p>
            <p>Email: {{email}}</p>
            <button onclick="deleteContact()">💀</button>
        </div>
    </script>
</body>
</html>


    <!-- <form action="login" method="POST">
        <label for="login" >Loign:</label>
        <input name="login" id="login" type="text" value="" placeholder="Enter your login">
        <br>
        <label for="password">Password:</label>
        <input name="password" id="password" type="password" value="" placeholder="Enter your password">
        <br>
        <input type="color"><br>
        <input type="date"><br>
        <input type="datetime"><br>
        <input type="datetime-local"><br>
        <input type="time"><br>
        <input type="email">
        <input type="file">
        <input type="reset">
        <label for="chk">Married</label>
        <input id="chk" type="checkbox" checked>
        <input name="gender" type="radio" value="male" checked>
        <input name="gender" type="radio" value="female">
        <input name="gender" type="radio" value="other">
        <br>
        <textarea rows="10" cols="10"></textarea>
        <br>
        <select multiple>
            <option>One</option>
            <option>Two</option>
            <option>Three</option>
        </select><br>
        <button type="button">Button</button>
        <input type="submit" value="Input">
    </form> -->