label {
    width: 100px;
    display: inline-block;
}

.contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: whitesmoke;
    padding: 10px;
    position: relative;
    margin: 10px;
}

.contact p {
    margin: 5px;
}

.contact button {
    position: absolute;
    right: 15px;
    top: 15px;
}