body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: 2000px;
}

.container {
    width: 1000px;
    margin: auto;
}

nav {
    height: 50px;
    background: black;
}

nav > ul {
    color: white;
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
}

nav > ul > li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.submenu {
    background-color: red;
    width: 500px;
    height: 500px;
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
}

nav > ul > li:hover > .submenu {
    display: block;
}
