body {
    margin: 0;
    background-color: lightgray;
    background-image: url(images/img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 30px;
    color: black;
    font-family: Segoe UI
}

.container {
    width: 1000px;
    margin: 20px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}

header {
    width: 100%;
    height: 100px;
    background-color: red;
}

nav {
    width: 100%;
    height: 50px;
    background-color: cyan;
}

main {
    width: 60%;
    height: 500px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

figure {
    width: 50%;
}

figure img {
    width: 100%;
}

.text {
    font-size: 15px;
}

.left, .right {
    width: 20%;
    height: 500px;
    background-color: tomato;
}

footer {
    width: 100%;
    height: 100px;
    background-color: magenta;
}