﻿@model Person

<h1>About</h1>
@*<p>My name is: @ViewData["Name"]</p>
<p>My age is: @ViewData["Age"]</p>*@

@*<p>My name is: @ViewBag.Name</p>
<p>My age is: @ViewBag.Age</p>*@

<p>My name is: @Model.Name.ToUpper()</p>
<p>My age is: @Model.Age</p>