body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

span {
    font-weight: bold;
}

/* .red > * {
    border: 1px solid black;
} */

/* body > div {
    border: 1px solid black;
} */

/* .red + div {
    background-color: black;
} */

/* .red ~ div {
    background-color: black;
} */

/* [class] {
    border: 1px solid black;
} */

/* div:hover {
    border: 1px solid black;
} */

/* body > div:hover ~ div, body > div:hover {
    background-color: black;
} */

/* a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: green;
}

a:active {
    font-size: 20px;
} */

/* span:last-child {
    background-color: black;
}

span:first-child {
    background-color: magenta;
}

div:last-child {
    background-color: magenta;
} */

/* body > div:last-of-type {
    background-color: black !important;
} */

/* body > div:nth-child(3n + 1) {
    background-color: black !important; 
} */

/* .red span::after {
    content: '!!!';
}

.green span::before {
    content: '???';
} */

span::before {
    content: '';
    width: 10px;
    height: 10px;
    /* background-color: black; */
    background-image: url(./cat.svg);
    display: inline-block;
}