﻿@model ToDo

<div class="col-lg-3 col-md-4 col-sm-6 p-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title @(Model.IsDone ? "text-success" : "text-warning")"> 
                <a asp-action="Task" asp-route-id="@Model.Id">@Model.Name</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.IsDone</h6>
            <p class="card-text">@Model.Description</p>
            <form asp-action="ToggleTaskStatus" method="post" style="display: inline">
                <input type="hidden" name="Id" value="@Model.Id" />
                <button type="submit" class="btn @(Model.IsDone ? "btn-warning" : "btn-success")">
                    <i class="fas @(Model.IsDone ? "fa-times" : "fa-check")"></i>
                </button>
            </form>
            <form asp-action="DeleteTask" method="post" style="display: inline">
                <input type="hidden" name="Id" value="@Model.Id" />
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div>
    </div>
</div>