body {
    box-sizing: border-box;
    margin: 0px;
    font-family: Segoe UI;   
    background-image: url(./images/slider-bg-1.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: whitesmoke;
}

.container {
    width: 900px;
    height: 700px;
    margin: 40px auto;
    display: grid;
    grid-template-rows: 80px 1fr 200px;
    grid-template-columns: repeat(4, 1fr);
}

header {
    background-color: #414146;
    grid-column: 1 / 5;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.logo img {
    width: 120px;
}

nav {
    width: 50%;
    /* background-color: yellow; */
    color: white;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

nav ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}

nav ul li:hover {
    color: #414146;
    background-color: #ffea00; 
}

nav ul li.selected {
    color: #414146;
    background-color: #ffea00;
}

.search {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    background-color: #565a60;
    box-sizing: border-box;
}

.search img {
    height: 15px;
}

.slides-container {
    background-color: transparent;
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    display: flex;
    justify-content: space-between;
}

.slides-container figure {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides-container figure img {
    width: 100%;
    /* height: 100px;
    object-fit: cover; */
}

.slides {
    background-color: transparent;
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.slides .primary {
    color: #414146;
    background-color: #ffea00;
    font-size: 70px;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

.slides .secondary {
    color: white;
    background-color: #565a60;
    font-size: 30px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

.slides .button {
    color: white;
    background-color: #414146;
    font-size: 20px;
    display: flex;
}

.slides .button .arrow {
    width: 50px;
    height: 50px;
    background-image: url(./images/right-arrow.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffea00;
}

.slides .button p {
    margin: 0;
    padding: 10px;
}

.yellow {
    background-color: #ffea00;
    border: 1px solid black;
}

@media (min-width: 0px) and (max-width: 1000px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 200px 200px 200px 200px;
        /* height: 700px;
        margin: 40px auto;
        display: grid;
        grid-template-rows: 80px 1fr 200px;
        grid-template-columns: repeat(4, 1fr); */
    }

    header, .slides-container {
        grid-column: 1 / 2;
    }

    header > .logo {
        width: 100%;
    }

    header > nav {
        width: 100%;
        height: 50px;
    }

    header > .search {
        width: 100%;
        height: 50px;
    }
}