﻿@model Post
@{
    ViewData["Title"] = Model.Title;
}

<div class="container mt-4">
    <h2>@Model.Title</h2>
    <img src="@Model.Image" alt="Image" class="news-image my-4" />
    <div>@Html.Raw(Model.Content)</div>
    <small>@Model.PublishDate</small>

    @foreach (var item in Model.Comments)
    {
    <div class="media">
        <img height="50" width="50" src="~/images/profiles/anon.png" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">@item.AppUserId</h5>
            @item.Text
        </div>
    </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
    <form asp-action="PostComment">
        <input type="hidden" name="postId" value="@Model.Id" />
        <div class="form-group">
            <label for="comment">Example textarea</label>
            <textarea name="comment" class="form-control" id="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    }
</div>