.box {
    background: red;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes myAnimation {
    0% {
        background-color: red;
        width: 300px;
    }

    33% {
        background-color: green;
        width: 500px;
    }

    66% {
        background-color: blue;
        height: 500px;
    }
}

/* 
.box > img {
    width: 50%;
    height: 50%;
    transition: 1s;
}

.box > img:hover {
    transform: rotateX(180deg);
    transition: 1s;
} */

/* .box {
    background: red;
    width: 300px;
    height: 300px;
    transition: 1s;
    opacity: 1;
    transition-timing-function: linear;

}

.box:hover {
    background: green;
    transition: 1s;
    width: 1000px;
    opacity: 0;
    transition-timing-function: linear;
} */