<form (submit)="onTaskSubmit()">
  <div class="form-group">
    <label for="taskName">Task name</label>
    <input [(ngModel)]="newTask.name" name="taskName" type="text" class="form-control" id="taskName" placeholder="Enter new task">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-danger" (click)="onClearClick()">Clear</button>
</form>

<table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tasks" [class.done-item]="item.done">
      <td class="task-text" (click)=onTaskSelect(item)>{{ item.name }}</td>
      <td>{{ item.done ? "Done" : "Undone" }}</td>
      <td>
        <button class="btn btn-success mr-2" (click)="onCheckClick(item)"><i class="fa fa-check"></i></button>
        <button class="btn btn-danger" (click)="onDeleteClick(item)"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
    
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedTask">
        <h5>{{selectedTask.name}}</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- <ul>
  <li *ngFor="let item of tasks">{{item.name}}</li>
</ul> -->