<h2>Gallery</h2>
<!-- <img class="gallery-img" src="{{ images[1] }}" alt="Image"> -->
<img class="gallery-img" [src]="images[currentImage % images.length]" alt="Image">
<br>
<button class="btn btn-primary" (click)="onPrevClick()"><i class="fa fa-arrow-left"></i></button>
<button class="btn btn-primary"  (click)="onNextClick()"><i class="fa fa-arrow-right"></i></button>